@use "common" as c;

.title_bg {
  background-color: c.$base-color-a;
  .title_wrapper {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width: c.$content-width;
    margin: 0 auto;
    border-top: 1px solid white;
    align-items: center;

    .first,
    .mockup_img {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .first {
      display: flex;
      flex-direction: column;

      .title {
        h1 {
          $title-size: 27px;
          color: white;
          font-size: $title-size;
          font-weight: bold;

          .a {
            -webkit-text-stroke: 1px c.$base-color-c;
            text-shadow: 2px 2px 6px c.$base-color-c, 2px -2px 6px c.$base-color-c,
              -2px 2px 6px c.$base-color-c, -2px -2px 6px c.$base-color-c, 0 0 10px black;
          }
          .b {
            -webkit-text-stroke: 1px c.$base-color-b;
            text-shadow: 3px 3px 6px c.$base-color-b, 3px -3px 6px c.$base-color-b,
              -3px 3px 6px c.$base-color-b, -3px -3px 6px c.$base-color-b, 0 0 10px white;
          }

          .a,
          .b {
            font-size: calc($title-size * 2.6);
          }

          @include c.mq(lg) {
            $title-size: 21px;
            font-size: $title-size;
            .a,
            .b {
              font-size: calc($title-size * 2.6);
            }
          }

          @include c.mq(md) {
            $title-size: 23px;
            font-size: $title-size;
            .a,
            .b {
              font-size: calc($title-size * 2.6);
            }
          }

          @include c.mq(sm) {
            $title-size: 5vw;
            font-size: $title-size;
            .a,
            .b {
              font-size: calc($title-size * 2.6);
            }
          }
        }
        p {
          color: white;
          font-size: 20px;
        }
      }

      .start_btn {
        background-color: white;
        padding: 0.7rem 2rem;
        margin-top: 2.2rem;
        border-radius: 7px;
        text-decoration: none;
        color: c.$base-color-a;
        font-size: 1.3rem;
        font-weight: bolder;
      }
    }

    @include c.mq(md) {
      flex-direction: column;
      height: auto;
      .first,
      .mockup_img {
        padding: 2rem 1rem;
        width: 100%;
      }
      .title {
        margin-top: 3rem;
      }
      .mockup_img {
        width: 70%;
      }
    }
    @include c.mq(sm) {
      .first,
      .mockup_img {
        padding: 1rem;
      }
      .first .start_btn {
        font-size: 1rem;
        padding: 0.7rem 1rem;
        margin-top: 2rem;
      }
    }
  }
}

.content_bg {
  background-color: c.$base-color-a;
  .content {
    max-width: c.$content-width;
    margin: 0 auto;
    background-color: c.$base-color-a;
    border-bottom: 1px solid white;
  }
}

.feature {
  padding: 0 5rem;

  .title {
    font-size: 4rem;
    color: white;
    padding-bottom: 5rem;
  }

  ul {
    li {
      color: white;
      padding-bottom: 6rem;
      list-style: none;
      .feature_title {
        font-size: 2.7rem;
        .character_large {
          font-size: 4rem;
          font-weight: normal;
          margin-right: 0.05em;
        }
        font-weight: normal;
      }
      .desc {
        padding-top: 1rem;
        font-size: 1.3rem;
      }
    }
  }

  @include c.mq(md) {
    padding: 1rem;
    .title {
      margin-top: 3rem;
      font-size: 3rem;
      padding-bottom: 2.2rem;
    }
    ul li {
      .feature_title {
        font-size: 1.8rem;
        .character_large {
          font-size: 2.2rem;
          font-weight: bolder;
        }
      }
      .desc {
        font-size: 1rem;
        line-height: 1.3rem;
      }
    }
  }
}
