@use "common" as c;

.content {
  max-width: c.$content-width;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: c.$white-color-b;
  min-height: 100vh;
  justify-content: space-between;
  @include c.mq(xl) {
    padding: 1rem;
  }
  .section {
    border-bottom: c.$hr-color solid 1px;
    padding: 2.5rem 0;
    .section_title {
      font-size: 1rem;
      font-weight: 540;
      margin-left: 4px;
      margin-bottom: 3px;
    }
    @include c.mq(xl) {
      padding: 1rem 0;
    }
    @include c.mq(md) {
      padding: 0 0 1rem 0;
    }
  }
}

.content_search {
  // 文から検索
  .first {
    margin: 0 auto 3rem auto;
    width: 50%;
    .input_wrapper {
      display: flex;
      .base_input {
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 4px;
        display: flex;
        flex: 1;
        padding: 2px 8px;
        background-color: white;
        input {
          font-size: 1.2rem;
          border: none;
          outline: none;
          width: 0;
          flex: 1;
        }
      }
      .search_btn {
        @include c.font-awesome-btn;
        border: none;
        background-color: c.$base-color-b;
        color: white;
      }
      .reset_btn {
        @include c.font-awesome-btn;
        border: none;
        background-color: transparent;
      }
    }
  }
  // 〇〇から選ぶ
  .second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .tag_wrapper,
    .company_wrapper {
      width: calc(50% - 2rem);
    }
  }

  @include c.mq(lg) {
    .first {
      width: 70%;
    }
  }
  @include c.mq(md) {
    padding: 0 0 1rem 0;
    .first {
      width: 100%;
      margin-bottom: 0.5rem;
      .input_wrapper .reset_btn {
        padding: 5px;
      }
    }
    .second {
      flex-direction: column;
      .tag_wrapper,
      .company_wrapper {
        margin: 0.5rem 0;
        width: 100%;
      }
    }
  }
}

// タイル状のドキュメントリスト
.document_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: none !important;
  .document_li {
    width: calc(100% / 4);
    height: 300px;
    padding: 0.5rem;
    display: flex;
  }
  .document {
    width: 100%;
    overflow: hidden;
    background-color: c.$background-color-a;
    border: c.$black-color-a solid 1px;
    padding: 1rem;
    text-decoration: none;
    color: black;
    .tec {
      text-align: center;
    }
    font-family: c.$document-font-family;
  }
  .new_document .document {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: c.$base-color-b;
    color: white;
    .font_awesome_btn {
      @include c.font-awesome-btn;
    }
  }
  .document_li {
    @include c.mq(lg) {
      width: calc(100% / 3);
    }
    @include c.mq(md) {
      width: calc(100% / 2);
    }
    @include c.mq(sm) {
      width: calc(100% / 1);
      &.new_document {
        height: 150px;
        max-height: 10vh;
      }
    }
  }
}

// タグ編集
.edit_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .first,
  .second {
    width: calc(50% - 1rem);
  }
}

.backup {
  border-bottom: none !important;
  .operation_btn {
    text-align: center;
    margin: 2rem 0;
    button,
    label {
      margin: 0 1rem;
      font-size: 1rem;
      height: 2.8rem;
      @include c.font-awesome-btn;
      border: none;
      background-color: c.$base-color-b;
      color: white;
    }
    input {
      display: none;
    }
  }
}
