@use "common" as c;

.content {
  max-width: c.$content-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.content_search {
  border-bottom: c.$hr-color solid 2px;
  padding: 5rem 0;
  h2 {
    font-size: 1rem;
    font-weight: 540;
    margin-left: 4px;
    margin-bottom: 2px;
  }
  .first {
    margin: 0 auto 3rem auto;
    width: 50%;
    .input_wrapper {
      display: flex;
      .base_input {
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 4px;
        display: flex;
        flex: 1;
        padding: 2px 8px;
        input {
          font-size: 1.2rem;
          border: none;
          outline: none;
          width: 0;
          flex: 1;
        }
      }
      .search_btn {
        @include c.font-awesome-btn;
        border: none;
        background-color: c.$base-color-b;
        color: white;
      }
      .reset_btn {
        @include c.font-awesome-btn;
        border: none;
        background-color: transparent;
      }
    }
  }
  .second {
    display: flex;
    flex-direction: row;
    .tag_wrapper,
    .company_wrapper {
      width: 50%;
      margin: 0 2.2rem;
    }
  }

  @include c.mq(lg) {
    .first {
      width: 70%;
    }
  }
  @include c.mq(md) {
    padding: 1rem;
    .first {
      width: 100%;
      margin: 0;
      margin-bottom: 0.5rem;
      .input_wrapper .reset_btn {
        padding: 5px;
      }
    }
    .second {
      flex-direction: column;
      .tag_wrapper,
      .company_wrapper {
        margin: 0.5rem 0;
        width: 100%;
      }
    }
  }
}

// 企業, 項目から選ぶ
.document_list {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //border-bottom: c.$hr-color solid 2px;

  .new_document {
    margin: 0.7rem;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #999 solid 1px;
    background-color: c.$base-color-b;
    color: white;
    cursor: pointer;
    &:hover {
      opacity: c.$opacity-hover;
    }
    .font_awesome_btn {
      @include c.font-awesome-btn;
    }
  }
  .document {
    overflow: hidden;
    margin: 0.7rem;
    height: 250px;
    width: 250px;
    background-color: c.$background-color-a;
    border: c.$black-color-a solid 1px;
    padding: 1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    &:hover {
      opacity: c.$opacity-hover;
    }
    .tec {
      text-align: center;
    }
  }

  @include c.mq(lg) {
    padding: 2rem;
    .document,
    .new_document {
      margin: 0.5rem;
      width: calc(100% / 3 - 2rem);
      height: calc(100vw / 4);
    }
  }
  @include c.mq(md) {
    padding: 0;
    .document,
    .new_document {
      margin: 0.5rem;
      width: calc(100vw / 3 - 2rem);
      height: calc(100vw / 3 - 1rem);
      font-size: 0.8rem;
    }
  }
}

// タグ編集
.edit_item {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  .first,
  .second {
    width: 50%;
    padding: 1rem;
    h2 {
      font-size: 1rem;
      font-weight: 540;
      margin-left: 4px;
      margin-bottom: 3px;
    }
  }
}
