$content_width: 1200px;

$base-color-a: #101841;
$base-color-b: #144da0;
$base-color-c: #70acce;
$black-color-a: #808080;

$hr-color: #ccc;
$background-color-a: #eaf2ff;

$opacity-hover: 0.8;

@mixin font-awesome-btn {
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  .icon {
    width: 1em;
  }
}
