@use "common" as c;

.content {
  max-width: c.$content-width;
  margin: 0 auto;
  display: flex;
}

// メニューバー
.first {
  width: 30%;
  .section {
    margin: 0 1rem 1.5rem 1rem;
  }
  .row {
    display: flex;
    input {
      width: 0;
      flex: 1;
    }
    button {
      @include c.font-awesome-btn;
    }
  }
}

// 編集エリア
.second {
  width: 70%;
  button {
    @include c.font-awesome-btn;
  }

  // 戻る進むなどの操作パネル
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .edit {
    textarea {
      resize: none;
      width: 100%;
      height: 70vh;
    }
  }
}
