@use "common" as c;
.content {
  max-width: c.$content-width;
  margin: 0 auto;
}

.title_bg {
  background-color: c.$base-color-a;
  .title_wrapper {
    //height: calc(100vh - c.$header-height);
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;

    .first,
    .mockup_img {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .first {
      display: flex;
      flex-direction: column;
      .start_btn {
        background-color: white;
        padding: 0.7rem 2rem;
        margin-top: 3.5rem;
        border-radius: 7px;
        text-decoration: none;
        color: c.$base-color-a;
        font-size: 1.3rem;
        font-weight: bolder;
      }
    }
  }
}
